* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.sec-container {
    perspective: 1000px;
}

.sec-card {
    width: 1000px;
    height: 600px;
    position: relative;
}

.sec-inner-card {
    width: 100%;

    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec-card-front, .sec-card-back {
    
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.userauth, .passauth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: lightblue;
}

.userauth label, .passauth label{
    text-align: left;
}

.sec-card-front-left{
    flex: 50%;
    background-color: black;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
     justify-content: center;
}

.fronttitleleft{
    text-align: left;
}

.fronttitleleft h4{
    color: #0DE194;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 1.5rem   ;
}
.fronttitleleft h4 span{
    font-size: 10px;
}

.fronttitleleft h6{
    color: #0DE194;
    font-size: 8px;
    margin-top: 3px;
    font-weight: 300;
    letter-spacing: 11.5px;
    margin-bottom: 5em;

}
.frontimagelogo img{
    width: 180px;
    height: 180px;
}
.sec-card-front-right{
    flex: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-card-back {
    transform: rotateY(180deg);
}

.sec-inner-card.sec-flipped {
    transform: rotateY(180deg);
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 80%;
    padding: 10px;
    border: none;
    background: #36D1DC;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

a {
    color: #5B86E5;
    text-decoration: none;
    font-weight: bold;
}
